@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@100;400;500&display=swap');
*{
  margin : 0;
  padding : 0;  
  font-family : 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

/* modifying scrollbar */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: rgba(162, 158, 158, 0.616);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    size: 2rem;
}


#Home{
    height : 100vh;
    background : linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('bg.jpeg') center/cover ;
    color : white;
}
#Home Header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
Header .logo{
    color : #3d9741;
    padding : 1em 3em;
    font-size: larger;
}
Header .nav{
    font-size : 1.25rem;
    padding : 1em 3em;
} 
.nav ul{
    list-style : none;
}
.nav li{
    display : inline;
    padding-right : 1.5rem;
}
.nav a{
    text-decoration : none;
    color : white;
}
.nav a:hover{
    color : #3d9741;
    transition : .5s ease-in-out;
}
.menu{
    display: none;
}
#Home section{
    width : 60%;
    min-width : 75%;
    margin-left : 5rem; 
    margin-top : 5rem; 
}
#Home .content h1{
    text-transform: capitalize;
    /* font-size: 2.6em; */
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 1.5;
}
#Home .content p{
    margin-top: 20px;
    /* font-size: 1.4em; */
    font-size: clamp(1.2rem, 1.8vw, 1.6rem);
    line-height: 1.5;
}
.form{
    width : 40%;
    margin-top: 4%;
    margin-left: 5rem;
}
.form [type = text], [type = email]{
    height : 35px; 
    width : 250px; 
    background-color: #fff;
    margin : 2px 0;
    padding: 8px 10px;
    border-style: none;
    font-size: 15px;
    letter-spacing: .1em;
    border-radius: 1rem;
}
.form ::placeholder{
    color : grey;
    font-size: 15px;
}
.form :focus{
    outline: none;
}
 .subs{
    height : 35px; 
    width : 250px; 
    background-color: #3d9741;
    border-style: none;
    border-radius: 1rem;
    margin : 15px 0;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color : #fff;
}
.form a :hover{
    cursor: pointer;
    color : whitesmoke;
    transition: 0.3s ease-in-out;
}

/* Events */

#events{
    background-color: #201f20;
    color : white;
    padding: 3rem 3rem 0;
}

#events header{
    /* padding : 1em; */
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .7);
}

#events main{
    display: flex;
    justify-content: space-around;
}


#events .container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 5rem;
}

.slider-container {
    position: relative;
    width : 500px;
    height : 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.slider{
    display: flex;
    transition: transform .3s ease-in-out;
}

#events .icons{
    position: absolute;
    top : 43%;
    color : white;
    cursor : pointer;
    font-size: 2.3rem;
    opacity : .3;
}

#events .icons:hover{
    opacity: .8;
}
.prev{
    left : 10px;
}

.next{
    right : 10px;
}

#events .circles{
    width : 500px;
    display: flex;
    justify-content: center;
    gap : 1rem;
}
#events .circle{
    height : 30px;
    width : 30px;
    border-radius: 50%;
    border : 2px solid grey;
}

#events .active.circle{
    background-color: aliceblue;
}

.news-container{
    width: 25%;
    height: 70%;
    background-color: #201f20;
    background-image: 
        radial-gradient(at 47% 50%, hsl(150.11, 87%, 31%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(222.35, 39%, 8%) 0, transparent 55%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.news{
    padding: 1rem;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(32, 31, 32, 0.75);
    border-radius: 1rem;
}

.news h1{
    text-align: center;
}
.news .desc{
    margin: 1rem 0;
    line-height: 1.5;
}
.news .desc p{
    margin: 1rem 0;
    line-height: 1.5;
}
/* About Section */

#about .sect1{
    width : 90%;
    margin : auto;
    display : flex;
    padding : 3em;
    column-gap : 4.25em;
    text-align: left;
}
.pic{
    align-self : center;
    margin-right : 1em;
}
.pic h1{
    font-size: 1.21em;
    font-weight: 800;
    line-height: 1.5em;
}
.pic img{
    width : 300px;
    margin-top: 20px;
}
#about .content p{
    line-height : 1.25em;
    font-weight: 500;
}
.content .read{
    /* height : 40px;
    width : 100px; */
    color : #fff;
    background-color : #3d9741;
    padding: .5em;
    margin : 1em .5em;
    border : none;
    cursor : pointer;
}

.sect2{
    padding: 3em;
    background-color:#201f20 ;
    color : white;
    display : flex;
    justify-content: space-between;
}
.sect2 .abt{
    width : 50%;
    margin-right: 1em;
}
.sect2 .abt h1{
    margin : 1em 0;
}
.sect2 .abt p{
    line-height : 1.5em;
}
.sect2 .logo{
    width : 40%;
    display : flex;
    flex-flow: wrap;
}
.sect2 .logo div{
    width : 40%;
    min-width : 200px;
    height : 10em;
    background-color: #d8d7d8;
    margin : 1em;
    border-radius : 2px;
    text-align: center;
    padding : 1rem;
}
.logo h2{
    margin-top : .5em;
    color : #201f20;
    line-height: 1.2;
}
.sect2 .logo .icon{
    margin : 0 auto;
    font-size: 60px;
    color: green;
}
/* Process */

#process {
    padding : 5%;
}
#process h1{
    font-weight: 800;
    text-align: center;
    margin-bottom: 2.5em;
}
hr{
    border-width: 2px;
    background-color: #000;
    border-color: #000;
}
.circles{
    display : flex;
    justify-content: space-around;
    padding-bottom : 5px ;
    transform : translatey(-9px);
}
.c1, .c2, .c3{
    height : 15px;
    width :15px;
    background-color: #000;
    border-radius: 50%;
}

#process .content{
    column-count: 3;
    column-gap : 2em;
    margin-top: 1em;
}
#process .content h1{
    color : #3d9741;
}
.one{
    text-align: left;
}
.two{
    text-align: center;
}
.three{
    text-align: right;
}

/* Testimony */

#testimony{
    background-color: #201f20;
}
.card{
    padding: 5%;
    display: flex;
    justify-content: center;
}
.card .content {
    max-height : 20rem;
    width : 40%;
    min-width : 20em;
    background-color: #474547;
    color : white;
    padding : 3%;
    border-radius: 5px;
    margin : 0 2em;
}
.card .content img{
    width : 5em;
    height: 5.5em;
    border-radius: 50%;
    margin-bottom: 10px;
    
}
.card .content p{
    font-size: .9em;
    line-height: 1.5em;
    margin-bottom : .70em;
}
.card .content .icons{
    font-size: 1.5rem;
}

/* Contact */

#contact{
    padding : 2em;
}

#contact header{
    text-align: center;
}

#contact header p{
    margin: 1em 0;
}

#contact section{
    display: flex;
    width : 100%;
    justify-content: space-around;
    align-items: center;
    gap : 1rem;
}

#contact .phone, #contact .email{
    display: flex;
    align-items: center;
    gap : 1.5rem;
}

#contact .details{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap : 1em;
}

#contact .details .icon{
    font-size: 30px;
}

#contact .socials{
    font-size: 2.5rem;
    display: flex;
    gap : 1.5rem;
}

#contact .socials a{
    text-decoration: none;
    color: #000;
}

#contact .mail{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap : 1rem;
    width: 40%;
}

#contact .mail input, #contact .mail #msg{
    border-width: 0 0 2px;
    font-size: 1rem;
    padding: 5px;
    outline: none;
}

#contact .mail #msg{
    resize: none;
}

#contact .btn{
    width: 6rem;
    padding : 5px;
    font-size: 1.2rem;
    border-radius: 1.1rem;
    color : white;
    background-color: #3d9741;
    border : none;
    cursor: pointer;
}
#contact .btn:hover{
    filter : brightness(.8);
    transition: .3s ease-in;
}

footer{
    background-color: #201f20;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
}



/* media query */

@media (max-width : 940px) {
    header{
        flex-direction: column;
        text-align: center;
    }
    #Home section {
        margin-top : 2em;
    }
    #about .sect1{
        flex-direction: column;
        gap : 2em;
        text-align: center;
    }
    #about .sect2{
        flex-direction: column;
        gap : 2em;
    }
    .sect2 .abt{
        width : 100%;
        margin : 0 auto;
        text-align: center;
    }
    .sect2 .abt p{
        text-align: left;
    }
    .sect2 .logo{
        width : 100%;
        justify-content: center;
        margin : 0 auto;
    }
    .sect2 .logo div{
        width: 80%;
    }

    #contact section{
        flex-direction: column;
        gap : 3rem;
    }

     #contact .mail{
        width : 80%;
    }

    #events main{
        display: flex;
        flex-direction: column;
    }

    #events .news-container{
        width : 90%;
        margin: 2rem auto;
    }

}
@media (max-width : 700px) {
    #Home .logo{
        padding: 1rem;
    }
    #Home header{
        flex-direction: row;
        justify-content: center;
    }
    #Home section, .form{
        margin : 0;
        padding: 2rem;
        padding-top: 1rem;
        width: 100%;
    }
    .card{
        flex-direction: column;
        gap : 1em;
        align-items: center;
    }
    .card .content{
        width: 90%;
    }
    .card .content img{
        float : left;
        margin : .2em 1em;
    }
    .card .content h1, .icons{
        text-align: center;
    }
    .menu{
        display: block;
        position: fixed;
        z-index: 9999;
        cursor : pointer;
        color : green;
        right : 20px;
        top : 10px;
        font-size: 30px;
    }

    #Home .nav{
        position: relative;
    }
    .hamburger-menu{
        position: fixed;
        width: 100%;
        inset : 0 0;
        margin: 0;
        backdrop-filter: blur(10px) brightness(.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        gap : 1em;
        z-index: 9999;
    }

    .hamburger-menu[data-visible = "true"]{
        transform: translateX(100%);
        transition : .3s ease-in;
    }

    .hamburger-menu[data-visible = "false"]{
        transform: translateX(0%);
        transition : .3s ease-in;
    }

    #about .sect1, #about .sect2{
        padding: 1rem;
    }

    #process .content{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap : 1em;
    }
    .one, .two, .three{
        text-align: center;
    }
    #process .content h1{
        margin: 1rem;
    }

    #process .line, .circles{
        display: none;
    }

    #process h1{
        margin-bottom: 1em;
    }

    #events{
        padding: 1rem;
    }
    #events .slider-container{
        width: min(90%, 500px);
    }

   
}
