.box{
    position : relative;
    margin : 0 150px;
}
.a{
    height : 100px;
    width : 100px;
    background-color: red; 
    position : absolute;
}
.b{
    height : 100px;
    width : 100px;
    background-color: blue;
    position : absolute;
    left : 100px;
    /* top : 100px; */
}
.c{
    height : 100px;
    width : 100px;
    background-color: yellow;
    position : absolute;
    left : 200px;
}
.d{
    height : 100px;
    width : 100px;
    background-color: cyan;
    position : absolute;
    left : 300px;
}

